<!DOCTYPE HTML PUBLIC "‐//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}测试{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/piko.js"></script>
    <style type="text/css" adt="123"></style>
</head>
<body>
{% block header %}
<div id="navbar" class="navbar navbar-fixed-top nav" role="navigation">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ SITE_NAME }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/onenote"> <span class="glyphicon glyphicon-list-alt"
                                                                 aria-hidden="true">OneNote</span></a></li>
                    <li><a href="/interest"><span class="glyphicon glyphicon-send"
                                                  aria-hidden="true"></span>Interest</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true"><span class="glyphicon glyphicon-save"></span>down</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Hi,{{ visitor }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
{% endblock %}
<br><br><br>
<div class="container" id="content">
  <div class="page-header">

    <p style="text-align:center">
      <img src="/static/images/google_logo.png" alt="Google_logo" width=20%>
    </p>

   </div>

  <div class="row" id="inputBar" style="margin:0 20%;">
    <div class="input-group" style="text-align:center" >
    {% if form.errors %}
        <p style="color: red;">
            {# pulralize 是filter，用来判断是否为添加's'来表示单词的复数形式#}
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        {% block seach %}
            {# 可以使用as_ul, as_p来改变格式 #}
            
            <span class="input-group-btn">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.TXT}}&nbsp;&nbsp;
          <input type="submit" value="搜索" style="width:60px;height:40px;font-size: 26px;">
        </span>
         {% endblock %} 
    </form>

    </div>
  </div>
  <br><br>







</div>
{% block end %}
<div class="footer" id="footer">
  <div class="container">
    <br>
    <p>设计者 <a href="https://github.com/yrq110" target="_blank">1173372284@qq.com</a></p>
    <p>采用web框架  <a href="https://cse.google.com/cse/" target="_blank">Django </a> , <a href="http://flask.pocoo.org/" target="_blank">python</a> 和<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></p>
  </div>
</div>
{% endblock %}
</body>
</html>