<html>
<head>
    <title>Contact us</title>
</head>
<body>
<h2>Hi {{ visitor }}, welcome to use the product inquiry system.</h2>
    <h1>Contact us</h1>

    {% if form.errors %}
        <p style="color: red;">
            {# pulralize 是filter，用来判断是否为添加's'来表示单词的复数形式#}
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table>
            {# 可以使用as_ul, as_p来改变格式 #}
            {{ form.as_table }}
        </table>
        <input type="submit" size="" value="Submit">
    </form>

<dl class="dl-horizontal">
  <dt>版本</dt>
  <dd>{{ form.subject }}</dd>
</dl>
<samp>This text is meant to be treated as sample output from a computer program.</samp>
</body>
</html>