<!DOCTYPE HTML PUBLIC "‐//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/piko.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <style type="text/css" adt="123"></style>
</head>
<body>
<div class="input-group">
    <input type="text" class="form-control input-lg">
<span class="input-group-addon btn btn-primary">搜索</span>
</div>
</body>
</html>